.svn/
.metadata/
.recommenders/
*.class


JDBrowser/\.idea/

JDownloader/\.idea/

JDownloader/bin/

JDownloader/update/

MyJDownloaderClient/\.idea/

AppWorkUtils/dist/

AppWorkUtils/\.idea/

JDownloader/out/

AppRegardsDownloader/bin/

AppRegardsDownloader/download/

AppRegardsDownloader/out/
